.twitter-link{
    color: white;
    background-color: #00aced;
}
.facebook-link{
    color: white;
    font-weight: bold;
    background-color: #4C69BA;
}
.instagram-link{
    background: linear-gradient(to bottom, #405de6 0%, #833ab4 10%, #c13584 25%, #e1306c 50%, #f56040 75%, #fcaf45 100%);
    transition-property: background;
    transition-duration: 200ms;
    color: white;
}
.linkedin-link{
    color: white;
    background-color: #007fb1;
}
.telegram-link{
    background: #279fd3;
    color: white;
}
.youtube-link{
    background: #ed302f;
    color: white;
}